*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden; }

.clearfix {
  overflow: auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

html {
  font-size: 1rem; }

body {
  background-color: #ecf0f1;
  color: #2c3e50; }

.info {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 20% 80%;
  justify-items: center; }
  .info__header {
    text-align: center;
    padding: 1rem 0rem; }
    .info__header h1 {
      letter-spacing: 0.3rem;
      color: #e67e22; }
    .info__header p {
      color: #27ae60;
      font-weight: bold;
      font-size: 1rem;
      letter-spacing: 0.1rem; }
  .info__main {
    background-color: #eeeeee;
    max-width: 90%;
    min-height: 100%;
    margin: 0rem auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-gap: 2rem;
    grid-auto-flow: row;
    justify-content: center; }
    .info__main__gallery {
      width: 100%;
      height: 100%;
      padding: 1rem;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 20% 60% 20%;
      justify-items: flex-start;
      align-items: flex-start;
      border: 5px solid #fa983a; }
      .info__main__gallery h3 {
        justify-self: center; }
        .info__main__gallery h3 .icon-cog {
          color: royalblue; }
      .info__main__gallery img {
        display: block;
        width: 100%;
        height: 100%; }
      .info__main__gallery .info__footer {
        justify-self: end;
        align-self: end;
        margin-top: 0.8rem; }
        .info__main__gallery .info__footer a {
          color: #ffffff; }

.new {
  max-width: 80%;
  min-height: 100vh;
  padding: 3rem;
  text-align: center;
  background-color: #ecf0f1; }
  .new a {
    margin-left: 2rem;
    float: left; }
  .new form {
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto); }
    .new form input[type="text"] {
      margin-top: 1rem;
      padding: 0.5rem;
      border: #27ae60 solid 2px;
      border-radius: 1rem; }
      .new form input[type="text"]:focus {
        border: none; }
    .new form button {
      margin-top: 2rem;
      padding: 0.5rem 2rem;
      justify-self: flex-end; }
      .new form button:focus, .new form button:hover {
        background-color: #27ae60;
        border: #27ae60 solid 1px; }

.show {
  max-width: 90%;
  min-height: 100vh;
  padding: 3rem; }
  .show__to__home {
    margin-bottom: 1rem; }
  .show__list img, .show__list__button {
    display: block;
    width: 80%;
    height: 60%; }
  .show__list__button {
    margin: 1rem 0rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end; }
    .show__list__button a {
      color: #ffffff; }
  .show__list__details {
    max-width: 100%;
    min-height: auto;
    hyphens: auto; }
