*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.clearfix{
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html{
    font-size: 1rem;
}

body{
    background-color: #ecf0f1;
    color: #2c3e50;
}

//============================================
// responsive

$custom1: 75em;
$custom2: 53em;
$custom3: 37.5em;


@mixin responsive($breakpoint) {
    @if($breakpoint == custom1){
        @media (max-width: 75em) {
            @content;
        }
    }

    @if($breakpoint == custom2){
        @media (max-width: 53em){
            @content;
        }
    }

    @if($breakpoint == custom3){
        @media (max-width: 37.5em){
            @content;
        }
    }
}

//=======================================================
// index routes directory - home page

.info{
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
    justify-items: center;

    @include responsive(custom3){
        grid-template-rows: 10% 90%;
    }

    &__header{
        text-align: center;
        padding: 1rem 0rem;
        overflow: hidden;

        h1{
            letter-spacing: 0.3rem;
            color: #e67e22;
        }

        p{
            color: #27ae60;
            font-weight: bold;
            font-size: 1rem;
            letter-spacing: 0.1rem;
        }
    }

    &__main{
        background-color: #eeeeee;
        max-width: 90%;
        min-height: 100%;
        margin: 0rem auto;
        padding: 2rem;

        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: auto;
        grid-gap: 2rem;
        grid-auto-flow: row;
        justify-content: center;

        @include responsive(custom1){
            grid-template-columns: repeat(3, auto);
            grid-template-rows: auto;
        }

        @include responsive(custom2){
            grid-template-columns: repeat(2, auto);
            grid-template-rows: auto;
        }

        @include responsive(custom3){
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-gap: 1rem;
            padding: 1rem;
        }


        &__gallery{
            width: 100%;
            height: 100%;
            padding: 1rem;

            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 20% 60% 20%;
            justify-items: flex-start;
            align-items: flex-start;

            border: 5px solid #fa983a;

            h3{
                justify-self: center;
                font-size: 1.5rem;

                & .icon-cog{
                    color: royalblue;
                }

                @include responsive(custom1){
                    font-size: 1.3rem;
                }
            }

            img{
                display: block;
                width: 100%;
                height: 100%;
            }

            .info__footer{
                justify-self: end;
                align-self: end;
                margin-top: 0.8rem;

                & a{
                    color: #ffffff;
                }
            }

        }
    }
}



// ===========================================================
// new routes directory - create new gallery

.new{
    max-width: 80%;
    min-height: 100vh;
    padding: 3rem;
    text-align: center;
    background-color: #ecf0f1;

    @include responsive(custom3){
        max-width: 90%;
        padding: 2rem;
    }

    & a{
        margin-left: 2rem;
        float: left;
    }

    & form{
        width: 100%;
        margin: 2rem auto;
        padding: 2rem;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);

        @include responsive(custom3){
            padding: 1rem;
        }

        & input[type="text"]{
            margin-top: 1rem;
            padding: 0.5rem;
            border: #27ae60 solid 2px;
            border-radius: 1rem;

            &:focus{
                border: none;
            }
        }

        & button{
            margin-top: 2rem;
            padding: 0.5rem 2rem;
            justify-self: flex-end;

            &:focus, &:hover{
                background-color: #27ae60;
                border: #27ae60 solid 1px;
            }
        }
    }
}



//===========================================================
// Show Routes - 

.show{
    max-width: 90%;
    min-height: 100vh;
    padding: 3rem;

    &__to__home{
        margin-bottom: 1rem;
    }

    &__list{
        img, &__button{
            display: block;
            width: 80%;
            height: 60%;
        }

        &__button{
            margin: 1rem 0rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: end;

            & a{
                color: #ffffff;
            }
        }

        &__details{
            max-width: 100%;
            min-height: auto;
            hyphens: auto;
        }
    }
}



// ===========================================================
// footer

footer{
    max-width: 100%;
    min-height: auto;
    padding: 0.5rem;
    color: #ffffff;
    background-color: #e67e22;
    text-align: center;
}
